header {
    background-color: rgb(46, 46, 46);
    padding-bottom: 50px;
    img{
        width: 50px;
        position: absolute;
        margin: 20px;
    }
    ul{
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        li{
            color: beige;
            margin: 30px;
        }
    }
    @media (max-width: 300px) {
        padding-bottom: 20px;
        img{
            width: 40px; 
        }
        ul{
            flex-direction: column;
            text-align: end;
            li{
                font-size: 12px;
                margin: 15px;
            }
        }
    }
}